@model Deploy_External_Template.Model.DepartmentVM
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Layout.cshtml";
}



<h1 class="text-danger">Are you sure you want to delete this data</h1>
<div>
    <form asp-controller="Department" asp-action="Delete" method="post" class="form-control">

        <label asp-for="Name">DepartmentName</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span class="danger" asp-validation-for="Name"></span>

        <br />
        <label asp-for="code">DepartmentCode</label>
        <br />
        <input type="text" asp-for="code" class="form-control" />
        <span class="danger" asp-validation-for="code"></span>
        <br />
        <center>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </center>

    </form>
</div>


