@model Deploy_External_Template.Model.DepartmentVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Edit</h2>
<div>
    <form asp-controller="Department" asp-action="Edit" method="post" class="form-control">

        <label asp-for="Name">DepartmentName</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span class="danger" asp-validation-for="Name"></span>

        <br />
        <label asp-for="code">DepartmentCode</label>
        <br />
        <input type="text" asp-for="code" class="form-control" />
        <span class="danger" asp-validation-for="code"></span>
        <br />
        <center>
            <input type="submit" value="Edit" class="btn btn-primary" />
        </center>

    </form>
</div>

